#about-us {
  margin: 70px;
}

.about-us__info {
  width: 664px;
}

.about-us__info h5 {
  margin-bottom: 0.5rem;
}

.about-us__info h2 {
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.about-us__info--box {
  width: 664px;
  height: 292px;
}

.about-us__content {
  max-width: 483px;
  line-height: 24px;
}

.about-us__content p {
  line-height: 1.5;
  margin-bottom: 1.5rem;

  letter-spacing: 1.7px;
}

.about-us__btn {
  margin-top: 3.1rem;
  display: flex;
  justify-content: flex-start;
}

.about-us__btn button {
  max-width: 200px;
  height: 59px;

  letter-spacing: 1.5px;
}

.about-us__btn a {
  text-decoration: none;
  margin: 0 2.8rem;

  justify-content: flex-start;
}

.about-us__btn i {
  font-size: 49px;
  color: #091156;
}

.about-us__btn span {
  margin: 0 0.8rem;
  color: #8b8b8b;

  letter-spacing: 1.8px;
}

.about-us__pic {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 2.4rem;
  max-width: 476px;
  size: 80%;
}

.about-us__bg {
  position: absolute;
  top: 485px;
  left: 66%;
  transform: translateX(-50%) scale(0.8);
  z-index: -99;
  width: 100%;
  max-width: 1200px;
}
