#about-us {
  margin: 70px 0;
}

.about-us__info {
  max-width: 664px;
  padding-left: 3.7rem;
}

.about-us__info h5 {
  margin-bottom: 0.9rem;
}

.about-us__info h2 {
  margin-bottom: 0.9rem;
}

.about-us__content {
  max-width: 483px;
  line-height: 24px;
}

.about-us__content p {
  line-height: 1.6;
  margin-bottom: 1em;
}

.about-us__btn {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.about-us__btn button {
  max-width: 200px;
}

.about-us__btn a {
  text-decoration: none;
  margin: 0 3rem;
}

.about-us__btn i {
  font-size: 49px;
  color: #091156;
}

.about-us__btn span {
  margin: 0 1rem;
  color: #8b8b8b;
}

.about-us__pic {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 2.5rem;
  padding-left: 3rem;
}

.about-us__pic img {
  padding-left: 3rem;
}
