/* Main container with background */
#main-container {
  background: url("../assets/background/bg-header.svg") no-repeat;
  background-size: 88%;

  height: 805px;

  padding: 41px 0;
}

/* Navbar container */
#navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.navbar__logo {
  margin-left: 0.7rem;
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-right: 10px;
}

.navbox__link {
  width: 481px;
  padding-right: 34px;
}

.navbar__box {
  display: flex;
  justify-content: flex-end;
}

.navbar__link {
  color: #8b8b8b;
  font-size: 1rem;
  transition: color 0.3s;
  text-decoration: none;
  letter-spacing: 1.7px;

  display: flex;
  align-items: center;
}

.navbar__icon {
  width: 7px;
  height: 7px;
}

.link__root {
  margin-right: 1.1rem;
  padding-left: 47px;
}

.link__children {
  padding-left: 45px;
}

.navbar__link.active {
  font-weight: 600;
  color: #414880;
}

.navbar__link:hover {
  color: #414880;
}

.navbar__link .active {
  font-weight: 500;
  color: #414880;

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar__button:hover {
  background-color: #e07eb3;
}

.navbar__button {
  padding: 1rem 1rem;
  font-size: 1rem;

  width: 158px;
  height: 52px;
  letter-spacing: 1.7px;
  line-height: 2.5px;
}

/* Slider section */
#slider {
  position: relative;

  top: 213px;
  left: 189px;

  height: 542px;
  width: 1098px;
}

.slider__content {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.slider__text {
  flex: 1;
}

.slider__text h1 {
  width: 430px;
  height: 128px;
}

.slider__text p {
  color: #091156;
  width: 474px;
  height: 54px;

  margin: 0;
  font-weight: 500;
  line-height: 24px;
}

.slider__button {
  width: 200px;
  margin-top: 28px;
  line-height: 24px;
  letter-spacing: 1.7px;
}

.slider__image {
  width: 602px;
  height: 398px;

  position: relative;
  top: -56px;
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);

  width: 71px;
}

.dot {
  width: 15px;
  height: 3px;
  background-color: #eeeeee;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #414880;
  width: 25px;
  height: 8px;
  border-radius: 50px;
}
