#services {
  flex-direction: column;

  background: url("../assets/background/bg-about.svg") no-repeat;
  background-position: bottom right;
  background-size: contain;
  padding-top: 100px;
}

.services__header {
  max-width: 848px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services__header h2 {
  width: 732px;
  height: 97px;
  text-align: center;
  margin-top: 9px;
  font-weight: 600;
}

.services__header p {
  text-align: center;
  font-weight: normal;
  margin-top: 13px;
}

.services__box {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-top: 70px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  max-width: 343px;
  min-height: 458px;
  padding: 0 1.3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.8rem;
  border-radius: 42px;
  box-shadow: 0 25px 50px 25px #f6f7ff;
}

.services__item img {
  margin: 2rem 0;
  margin-bottom: 3rem;
}

.services__item--content {
  margin-top: 50px;
  margin: 0 1rem;
}

.services__item--content h4 {
  margin: 0.5rem 0;
}

.services__item--content p {
  margin: 1.2rem 0;
  font-size: 14px;
  line-height: 21px;
}

.services__icon {
  width: 166px;
  height: 166px;
}

@media (max-width: 900px) {
  .services__box {
    grid-template-columns: 1fr;
  }
}
