#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 424px;
  height: 626px;
}

.team__item img {
  width: 146px;
  height: 146px;
}

.team__item--center {
  padding: 1rem;
  border-radius: 42px;

  box-shadow: 0 25px 50px 25px #f6f7ff;
}

.team__social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 49px;
  height: 49px;
  border-radius: 50%;
  padding: 24px;

  background-color: #fff;
  color: #192343;
  box-shadow: -2px 6px 16px -1px #e6e9fd;

  font-size: 25px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.team__social a:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .team__box {
    grid-template-columns: 1fr;
  }
}
