#team {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  margin-bottom: -50px;
}

.team__header {
  text-align: center;
}

.team__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

/* Team Item */
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  max-width: 270px;
  height: 439px;
  margin: auto 30px;
}

.team__image img {
  width: 146px;
  height: 146px;
}

.team__item--center {
  justify-content: center;

  max-width: 424px;
  height: 626px;
  gap: 40px;
  border-radius: 42px;

  box-shadow: 0 25px 50px 25px #f6f7ff;
}

/* Team Content */
.team__content {
  text-align: center;
  max-width: 270px;
}

.team__content h5,
h4,
p {
  margin: 13px 0;
}

.team__content p {
  line-height: 21px;
  font-size: 14px;
}

/* Team Social */
.team__social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 49px;
  height: 49px;
  border-radius: 50%;
  padding: 24px;
  margin: 0 15px;

  background-color: #fff;
  color: #192343;
  box-shadow: -2px 6px 16px -1px #e6e9fd;

  font-size: 25px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.team__social a:hover {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 900px) {
  .team__box {
    grid-template-columns: 1fr;
  }
}
